#!/usr/bin/env node
import { execSync } from 'node:child_process';
import { rmSync } from 'node:fs';

console.log('Resetting __FRAMEWORK__ dependencies...');
rmSync('node_modules', { recursive: true, force: true });
rmSync('package-lock.json', { force: true });
rmSync('yarn.lock', { force: true });
execSync('npm install', { stdio: 'inherit' });
